header.header-app(ng-controller='NavbarCtrl')
  a(href='/')
    span.logo

  nav.nav-app
    ul

      //li(ng-repeat='item in menu', ng-class='{active: isActive(item.link)}')
      //  a(ng-href='{{item.link}}') {{item.title}}

      li(ng-show='isAdmin()', ng-class='{active: isActive("/admin")}')
        a(href='/admin') Admin

      li(ng-show='isLoggedIn()', ng-class='{active: isActive("/group/new")}')
        a(ui-sref='group_new') Add Group

      li(ng-show='isLoggedIn()', ng-class='{active: isActive("/group")}')
        a(ui-sref='group') view Groups

    ul
      li(ng-hide='isLoggedIn()', ng-class='{active: isActive("/signup")}')
        a(href='/signup') Sign up

      li(ng-hide='isLoggedIn()', ng-class='{active: isActive("/login")}')
        a(href='/login') Login

      li(ng-show='isLoggedIn()', ng-class='{active: isActive("/settings")}')
        a(href='/settings')
          span.glyphicon.glyphicon-cog

      li(ng-show='isLoggedIn()', ng-class='{active: isActive("/settings")}')
        p.navbar-text
          user-avatar(email='{{getCurrentUser().email}}', class="profile-image img-circle", size="40")
          | {{ getCurrentUser().name }}

      li(ng-show='isLoggedIn()', ng-class='{active: isActive("/logout")}')
        a(href='', ng-click='logout()') Logout

      li(ng-show='isLoggedIn()')
        p.username {{ getCurrentUser().name }}
