div(ng-include='"components/navbar/navbar.html"')
.container
  .col-md-12
    strong C'est MORT
    ul
      li(ng-repeat="group in groups")
        {{group.name}}

div(ng-include='"app/group/footer.html"')
