div(ng-include='"components/navbar/navbar.html"')
.container
  .col-md-12
    strong Add a group
    form(name="form", ng-submit='groupAdd(form)')
      input(type="text",placeholder="group name",name="name", ng-model="form.groupName")
      br
      textarea(ng-model="form.emails",ng-list=";",placeholder="emails")
      br
      input(type="submit",value="ADD")
div(ng-include='"app/group/footer.html"')
