div(ng-include='"components/navbar/navbar.html"')
.col-md-12
    p Fucking amazing app
    ul
     li(ng-repeat='g in group')
      a(ui-sref="group_show({id: '{{g._id}}' })") {{g.name}}
      a(ui-sref="group_remove({id:'{{g._id}}'})") remove


