div(ng-include='"components/navbar/navbar.html"')
.container
  .col-md-12
    strong C'est MORT
    ul
      li(ng-repeat="group in groups")
        {{group.name}}

footer.footer
  .container
    p
      a(href="http://glyphicons.com") Glyphicons form
      = " licensed under "
      a(href="http://osef.com") CC BY 3.0

